body {
  background-color: #f8f8f8;
}
div.container {
  width: 380px;
  padding: 10px 30px 50px;
  background-color: white;
  margin: 200px auto;
  border: 1px solid gray;
}
h1,
h3 {
  text-align: center;
  font-family: Cambria, "Times New Roman", serif;
}
p {
  margin: 0;
}
fieldset {
  padding: 20px;
  width: 215px;
  margin: auto;
}
input {
  margin-bottom: 10px;
}
input[type="text"],
input[type="password"] {
  width: 120px;
}
input[type="submit"] {
  float: right;
}
label {
  width: 80px;
  float: left;
  margin-right: 10px;
}
.error {
  background-color: #ffecec;
  padding: 10px 15px;
  margin: 0 0 20px 0;
  border: 1px solid red;
}
