body {
  background-color: #f8f8f8;
}
div.container {
  width: 960px;
  padding: 10px 50px 40px;
  background-color: white;
  margin: 100px auto;
  border: 1px solid gray;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: Cambria, "Times New Roman", serif;
  clear: both;
}

#header {
  height: 60px;
}
#logo {
  font-size: 42px;
  float: left;
  margin-top: 10px;
  margin-bottom: 0px;
}
#logo span {
  color: green;
}
#tanggal {
  text-align: right;
}
hr {
  margin: 0px;
}

nav {
  width: 500px;
  clear: both;
}
ul {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  overflow: hidden;
}
nav li a {
  float: left;
  background-color: #e3e3e3;
  color: black;
  text-decoration: none;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  padding: 5px 20px;
}
nav li a:hover {
  background-color: #757575;
  color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px black solid;
  width: 100%;
}
th,
td {
  padding: 8px 15px;
  border: 1px black solid;
}
tr:nth-child(2n + 3) {
  background-color: #f2f2f2;
}

.pesan {
  background-color: #c0ffa9;
  padding: 10px 15px;
  margin: 0 0 20px 0;
  border: 1px solid green;
  box-shadow: 1px 0px 3px green;
  text-align: center;
}
.error {
  background-color: #ffecec;
  padding: 10px 15px;
  margin: 0 0 20px 0;
  border: 1px solid red;
  box-shadow: 1px 0px 3px red;
}

/* ====FORM==== */
#form_mahasiswa p {
  margin: 0;
}
#form_mahasiswa fieldset {
  padding: 20px;
}
#form_mahasiswa input,
#form_mahasiswa select {
  margin-bottom: 10px;
}
#form_mahasiswa label {
  width: 110px;
  float: left;
  margin-right: 10px;
}
#form_mahasiswa [readonly] {
  background-color: #f3f3f3;
}
